@import "tailwindcss";



@layer base {
  html {
    font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 0;
    line-height: 100%;
  }
}

@theme{
  --color-primary: #FFFFFF;
  --color-primaryBtn: #1F6FEB;
  --color-secondary: #F6C90E;
  --color-navColor: #0A2540;
  --color-equipmentBg: rgba(244, 245, 247, 1)
}

@keyframes border-spin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border-spin {
  background-size: 300% 300%;
  animation: border-spin 4s linear infinite;
}